.clients__title {
  margin-bottom: 30px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}

.clients__item {
  flex-basis: calc((100% - 60px) / 2);

  height: 92px;
  margin: 15px;
}

.clients__link {
  @extend %display-center;
  @include dimensions(100%, 100%);

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: #afb1b8;

  transition: fill 250ms var(--timing-function);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}

// 768+
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }

  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}
