@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }

  .header {
    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__burger-button {
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
    }

    &__burger-icon {
      @include dimensions(40px, 40px);
      fill: var(--web-color);
    }
  }
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* =========== Стилизация логотипа =========*/

.logo {
  font-family: Raleway, sans-serif;
  @include font(26px, 700, 1.2);
}

.header__logo {
  color: var(--web-color);
}

.accent-logo {
  color: var(--accent-color);
}

// 768+
@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;

    &__burger-button {
      display: none;
    }
  }

  .header-container,
  .header__nav {
    display: flex;
    align-items: center;
  }

  .contacts__link {
    display: flex;
    align-items: center;
    color: var(--primery-text-color);

    @include font($fw: 500);
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contacts__icon {
    margin-right: 10px;
    fill: var(--primery-text-color);

    transition: fill 250ms var(--timing-function);

    .contacts__link:hover &,
    .contacts__link:focus & {
      fill: var(--accent-color);
    }
  }
}

// 1200+
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }

  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}
