:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-bgc: #fff;
  --secondary-bgc: #f5f4fa;
  --accent-bgc: #2f303a;
  --accent-hover-color: #188ce8;
  --web-color: #000;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
